<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creator Analysis</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="header">

        <div id="navbar">
            <div id="logo">ANALYSER</div>

            <div id="nav-part1">
                <ul>
                    <li>Home</li>
                    <li>Features</li>
                    <li>About us</li>
                    <li>Profile</li>
                </ul>
            </div>

            <div id="nav-part2">
               <button id="btn1">Login</button>
               <button id="btn3">Sign In</button>
               <button id="btn2">Get started</button>
            </div>
            
        </div>

    </div>

    <div id="main">

        <div id="hero">
            <h1 id="line1">Boost and Enhance <br>your productivity <br> by joining us </h1>
            <h4 id="line2">Click get started button to start your journey with us.</h4>
            
            <div id="buttons">
                <button id="start-free-trial">GET STARTED</button>
                <button id="view-demo">VIEW DEMO</button>
            </div>
        </div>

    </div>

    <div id="features">

        <div id="animate"><h3 class="animate-character">
            OUR FEATURES</h3>
        </div>

        <div id="features-list">
           
            <div class="feature">
                <img class="img" src="F1.png" alt="">
                <h4>Sentiment Analysis</h4>
            </div>
            
            <div class="feature">
                <img class="img" src="F1.png" alt="">
                <h4>Growth</h4>                
            </div>
            
            <div class="feature">
                <img class="img" src="F1.png" alt="">
                <h4>Title Recommender</h4>
            </div>
            
            <div class="feature">
                <img class="img" src="F1.png" alt="">
                <h4>Video Summarizer</h4>
            
            </div>
        </div>
        <div id="about-us">
            
        </div>
    </div>
</body>
</html>
